ion-toolbar ion-title {
  text-align: center;
  justify-content: center;
  width: 100%;
}

ion-button.custom-button {
  margin-top: 10px;
  font-size: 12px;
  padding-left: 60px; /* Ajustar según necesites */
  padding-right: 60px; /* Ajustar según necesites */
 
}
