<app-header title="Inicio de Sesion"></app-header>


<ion-content class="ion-padding" mode="ios">
  <form (ngSubmit)="submit()" (keyup.enter)="submit()">
    <div class="ion-text-center">
      <ion-item lines="full">
        <ion-input
          type="email"
          [formControl]="form.controls.email"
          required
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
          placeholder="Correo"
        ></ion-input>
        <ion-icon name="mail" slot="start"></ion-icon>
      </ion-item>
      <ion-label *ngIf="!form.value.email && emailTouched" color="danger">Ingrese su correo</ion-label>
  
      <ion-item lines="full">
        <ion-input
          type="{{ hidePassword ? 'password' : 'text' }}"
          [formControl]="form.controls.password"
          required
          minlength="4"
          maxlength="8"
          placeholder="Contraseña"
        ></ion-input>
        <ion-icon name="lock-closed" slot="start"></ion-icon>
        <ion-icon *ngIf="form.value.password.length >= 4" [name]="hidePassword ? 'eye-off' : 'eye'" slot="end" (click)="togglePasswordVisibility()"></ion-icon>
      </ion-item>
      <ion-label *ngIf="!form.value.password && passwordTouched" color="danger">
        La contraseña debe contener de 4 a 8 caracteres
      </ion-label>
  
      <ion-button type="submit" expand="block" shape="round" class="custom-button">
        Ingresar
      </ion-button>
    </div>
  </form>
</ion-content>
