<ion-header class="ion-no-border">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button *ngIf="backButton" [defaultHref]="backButton"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <strong>
        {{title}}
      </strong>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="isMain" (click)="signOut()" color="danger">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>