<app-header title="Solicitudes de Constancias" [isMain]="true"></app-header>

<ion-content>
  <!-- FORM DE FILTRO -->
  <form [formGroup]="form" (ngSubmit)="filterGraphic()">
    <ion-item class="ion-margin">
      <ion-select [formControl]="form.controls.month" label="Mes" interface="popover">
        <ion-select-option value="Todos">Todos</ion-select-option>
        <ion-select-option *ngFor="let mes of meses; let i = index" [value]="i">{{mes}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="ion-margin">
      <ion-select [formControl]="form.controls.year" label="Año" interface="popover">
        <ion-select-option *ngFor="let year of years" [value]="year">{{year}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button type="submit" color="tertiary" expand="block" shape="round">
      <ion-icon slot="icon-only" name="filter"></ion-icon>
      <ion-label class="ion-padding">Filtrar</ion-label>
    </ion-button>
  </form>
  <!-- GRAFICO -->
  <div class="grafico-container">
    <canvas baseChart id="grafico-constancias"></canvas>
  </div>
  <!--  GENERAR PDF -->
  <ion-button (click)="createPdf()" color="success" expand="block" shape="round">
    <ion-icon slot="icon-only" name="document"></ion-icon>
    <ion-label class="ion-padding">Generar PDF</ion-label>
  </ion-button>
  <!-- MOSTRAR SOLICITUDES -->
  <ion-card *ngIf="loading == false">
    <ion-card-header>
      <ion-card-title>Solicitudes de Constancias</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <!-- SI NO EXISTEN SOLICITUDES DE CONSTANCIAS CON EL FILTRO -->
      <ion-label *ngIf="!constancias.length">No existen Solicitudes de Constancias en este rango filtrado</ion-label>
      <!-- SI EXISTEN SOLICITUDES DE CONSTANCIAS CON EL FILTRO -->
      <ion-list>
        <ion-item-sliding *ngFor="let constancia of constancias | paginate: { itemsPerPage: 5, currentPage: page }">
          <ion-item>
            <ion-label>
              <strong>{{constancia.name}}</strong>
              {{constancia.email}}
              <p>{{constancia.phone}}</p>
            </ion-label>
            <ion-label>
              <strong>{{constancia.status ? 'Activo' : 'Inactivo'}}</strong>
            </ion-label>
            <ion-label slot="end">
              {{constancia.createdAt}}
            </ion-label>
          </ion-item>
          <!-- OPCIONES SOLO ADMIN -->
          <ion-item-options *ngIf="user.role == 'admin'">
            <!-- ENVIAR EMAIL -->
            <ion-button *ngIf="constancia.status" color="success" (click)="sendMail(constancia)"  >
              <ion-icon name="mail"></ion-icon>
            </ion-button>
            <!-- EDITAR CONSTANCIA -->
            <ion-button color="primary" (click)="editarConstancia('/proof/record-proof', constancia)">
              <ion-icon name="create"></ion-icon>
            </ion-button>
            <!-- ELIMINAR CONSTANCIA -->
            <ion-button color="danger" (click)="confirmDeleteProof(constancia)">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
      <div class="ion-text-center">
        <pagination-controls *ngIf="constancias.length > 5" (pageChange)="page = $event"></pagination-controls>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="registrarConstancia()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>