<app-header title="Solicitudes de Constancias" [isMain]="true"></app-header>

<ion-content>

  <form [formGroup]="form" (ngSubmit)="getLabel()">
    <ion-item class="ion-margin">
      <ion-select [formControl]="form.controls.month" label="Mes" interface="popover" (ion-change)="getLabel()">
        <ion-select-option value="Todos">Todos</ion-select-option>
        <ion-select-option *ngFor="let mes of meses" (ion-change)="getLabel()" [value]="mes">{{mes}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button type="submit" expand="block" shape="round">
      Filtrar
    </ion-button>
  </form>
  
  <div class="grafico-container">
    <canvas baseChart id="grafico-constancias"></canvas>
  </div>

  <div class="lista-constancias">
    <ion-list>
      <ion-list-header>Solicitudes Recientes</ion-list-header>
      <ion-item *ngFor="let constancia of constancias | slice:0:8">
        <ion-label>
          <strong>{{constancia.name}}</strong>
          <p>{{constancia.createdAt}}</p>
        </ion-label>
       <ion-swipe (ionSwipe)="swipe(constancia)">
          <ion-button-group slot="end">
            <ion-button color="success" (click)="enviarCorreo(constancia)">
              <ion-icon name="mail"></ion-icon>
            </ion-button>
            <ion-button color="primary" (click)="editarConstancia('/proof/record-proof', constancia)">
              <ion-icon name="create"></ion-icon>
            </ion-button>
            <ion-button color="danger" (click)="confirmDeleteProof(constancia)">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-button-group>
        </ion-swipe>
      </ion-item>
    </ion-list>

    <!-- <ion-pagination [page]="currentPage" [pageCount]="totalPages" (ionPageChange)="onPageChange($event)"></ion-pagination> -->
  </div>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)="registrarConstancia()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content> 