<app-header title="Solicitudes de Constancias" [isMain]="true"></app-header>

<ion-content>

  <form [formGroup]="form" (ngSubmit)="filterGraphic()">
    <ion-item class="ion-margin">
      <ion-select [formControl]="form.controls.month" label="Mes" interface="popover">
        <ion-select-option value="Todos">Todos</ion-select-option>
        <ion-select-option *ngFor="let mes of meses; let i = index" [value]="i">{{mes}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="ion-margin">
      <ion-select [formControl]="form.controls.year" label="Año" interface="popover">
        <ion-select-option *ngFor="let year of years" [value]="year">{{year}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button type="submit" color="tertiary" expand="block" shape="round">
      Filtrar
    </ion-button>
  </form>
  
  <div class="grafico-container">
    <canvas baseChart id="grafico-constancias"></canvas>
  </div>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Solicitudes de Constancias</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let constancia of constancias">
            <ion-label>
              <strong>{{constancia.name}}</strong>
              <p>{{constancia.createdAt}}</p>
            </ion-label>
            <ion-label>
              <strong>{{constancia.status ? 'Activo' : 'Inactivo'}}</strong>
            </ion-label>

              <ion-button-group slot="end" *ngIf="user.role == 'admin'">
                <ion-button color="success" (click)="sendMail(constancia)">
                  <ion-icon name="mail"></ion-icon>
                </ion-button>
                <ion-button color="primary" (click)="editarConstancia('/proof/record-proof', constancia)">
                  <ion-icon name="create"></ion-icon>
                </ion-button>
                <ion-button  color="danger" (click)="confirmDeleteProof(constancia)">
                  <ion-icon name="trash"></ion-icon>
                </ion-button>
              </ion-button-group>

          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>


  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)="registrarConstancia()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content> 