<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/proof"></ion-back-button>
    </ion-buttons>
    <ion-title>{{proof ? 'Actualizar Constancia' : 'Agregar Constancia'}} </ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
          Usamos el la directiva de ngModel para vincular los datos de los inputs a la funcion saveNewPlace
           [(ngModel)]=title
 
           [(ngModel)]=imageURL
          ion-input type="text" placeholder="link de imagen"></ion-input>

</ion-content> -->


<ion-content>
  <form class="ion-padding ion-text-center" (ngSubmit)="submit()" (keypress.enter)="submit()">

    <!-- =========== NOMBRE =============== -->
    <app-custom-input autocomplete="name" label-placement="floating" [control]="form.controls.name" type="text"
      label="Nombre Completo">
    </app-custom-input>

    <!-- Validamos conexion de la variable name -->
    <div class="validators" *ngIf="form.controls.name.errors && form.controls.name.touched">
      <div *ngIf="form.controls.name.errors?.['required']">El nombre completo es requerido</div>
      <div *ngIf="form.controls.name.errors?.['minLength']">El nombre de contener al menos 10 caracteres</div>
    </div>

    <!-- =========== DUI =============== -->
    <app-custom-input autocomplete="dui" label-placement="floating" [control]="form.controls.dui" type="text"
      label="DUI">
    </app-custom-input>

    <!-- Validamos conexion de la variable DUI -->
    <div class="validators" *ngIf="form.controls.dui.errors && form.controls.dui.touched">
      <div *ngIf="form.controls.dui.errors?.['required']">El DUI es requerido</div>
      <div *ngIf="form.controls.dui.errors?.['min']">El numero de DUI es invalido</div>
    </div>

    <!-- =========== NUMERO DE TELEFONO =============== -->
    <app-custom-input autocomplete="phone" label-placement="floating" [control]="form.controls.phone" type="number"
      label="Numero de telefono">
    </app-custom-input>

    <!-- Validamos conexion de la variable phone -->
    <div class="validators" *ngIf="form.controls.phone.errors && form.controls.phone.touched">
      <div *ngIf="form.controls.phone.errors?.['required']">El numero es requerido</div>
      <div *ngIf="form.controls.phone.errors?.['min']">El numero debe contener al menos 8 caracteres</div>
    </div>

    <!-- =========== EMAIL =============== -->
    <app-custom-input autocomplete="email" label-placement="floating" [control]="form.controls.email" type="text"
      label="Correo">
    </app-custom-input>

    <!-- Validamos conexion de la variable email -->
    <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
      <div *ngIf="form.controls.email.errors?.['required']">El correo es requerido</div>
      <div *ngIf="form.controls.email.errors?.['email']">El correo ingresado es invalido</div>
    </div>

    <!-- =========== TIPO DE CONSTANCIA =============== -->
    <app-custom-input autocomplete="type" label-placement="floating" [control]="form.controls.type" type="text"
      label="Tipo de constancia">
    </app-custom-input>

    <!-- Validamos conexion de la variable type -->
    <div class="validators" *ngIf="form.controls.type.errors && form.controls.type.touched">
      <div *ngIf="form.controls.type.errors?.['required']">El tipo de constancia es requerido</div>
    </div>

    <!-- =========== DESCRIPCION DE LA CONSTANCIA =============== -->
    <app-custom-input autocomplete="description" label-placement="floating" [control]="form.controls.description"
      type="text" label="Descripcion">
    </app-custom-input>

    <!-- Validamos conexion de la variable description -->
    <div class="validators" *ngIf="form.controls.description.errors && form.controls.description.touched">
      <div *ngIf="form.controls.description.errors?.['required']">Ingrese una descripcion</div>
      <div *ngIf="form.controls.description.errors?.['minLength']">La descripcion de contener al menos 5 caracteres
      </div>
    </div>

    <!-- =========== CANTIDAD DE CONSTANCIAS SOLICITADAS =============== -->
    <!-- (ionInput)= "setNumberInputs()" -->
    <app-custom-input [control]="form.controls.qty" label-placement="floating" type="number"
      label="Cantidad"></app-custom-input>

    <!-- Validamos conexcion de la variable qty -->
    <div class="validators" *ngIf="form.controls.qty.errors && form.controls.qty.touched">
      <div *ngIf="form.controls.qty.errors?.['required']">La cantidad requerida</div>
      <div *ngIf="form.controls.qty.errors?.['min']">La cantidad minima debe ser 1</div>
    </div>

    <!-- =========== ESTADO DE LA SOLICITUD =============== -->
    <ion-item>
      <ion-select [formControl]="form.controls.status" label="Estado" placeholder="Selecciona el estado" interface="popover">
        <ion-select-option [value]="true">Activo</ion-select-option>
        <ion-select-option [value]="false">Inactivo</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Validamos conexion de la variable status -->
    <div class="validators" *ngIf="form.controls.status.errors && form.controls.status.touched">
      <div *ngIf="form.controls.status.errors?.['required']">Asigne un estatus valido</div>
    </div>


    <ion-button mode="ios" class="ion-margin" type="submit" [disabled]="form.invalid">
      {{proof ? 'Actualizar Constancia' : 'Agregar Constancia'}} <ion-icon slot="end"
        name="checkmark-circle-outline"></ion-icon>
    </ion-button>
  </form>
</ion-content>